# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/
.DS_Store
*.log
runs/

# LaTeX
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cbl
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.brf
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb